p {
  font-size: 2em;
  color: black;
  margin: 1px;
  line-height: 90%;
}

body {
  background: #EEE;
  font-family: 'DejaVu Sans' 'Sans' 'Verdana';
  margin: 0px;
  margin-left: 3%;
  width: 94%;
}

i {
  font-size: 10em;
  padding: 5px;
}


#nav-bar {
  right: 0px;
  position:fixed;
  /*color:black;*/
  z-index: 10;
  background-color: black;
  font-size: 1.5em;
  top: 0;
  padding: 10px;
  border-bottom-left-radius: 20px;
}

#nav-bar a{
  font-weight: bold;
  color: #EEE;
}


.sash {
    height: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    background-image: url("pat.svg");
    background-attachment: fixed;
    background-size: 400px;
    border-radius: 25px;

    margin-top: 25px;
}

.sash-text {
  margin 1;
  padding-left: 25px;
  font-size: 10em;
  word-break: break-all;

}

.sash-texta {
  padding-top: 25px;
  padding-left: 40px;
  font-size: 3em;

}

#flex_logos {
  display: flex;
  /*box-orient: horizontal;*/
  flex-wrap: wrap;
}

#flex_logos > * {
  margin: 15px;
}

#flex_logos div p{
  padding-top: 10px;
  text-align: center;
  border-bottom: 2px solid;
}
#flex_logos div:nth-child(3n-2) i {
  color: #ffcc00;
}

#flex_logos div:nth-child(3n-1) i {
  color: #99cc33;
}

#flex_logos div:nth-child(3n) i {
  color: #ff9900;
}

.work {
  border: 5px black solid;
  /*padding: 10px;*/
  display: flex;
}

.work img{
  width: 50%;
  /*float: right;*/
}

.right {
  width: 100%;
  /*float: right;*/
  /*margin-bottom: 10px;*/
}
.work p{
  word-break: normal;
  /*width: 40%;*/
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .right {
    float: right;
    width: 100%;
  }

  .work img {
    width: 100%;
  }

  .work {
    flex-flow: column;
  }
}
